<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tony.contentprovider">

    <permission
        android:name="com.tony.PROVIDER"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.tony.PROVIDER" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BookProvider"
            android:authorities="com.tony.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.tony.PROVIDER"
            android:process=":provider"></provider>
    </application>

</manifest>
